<#import "/spring.ftl" as spring/>
<!DOCTYPE html>
<html>
<head>
<#include "/include/header.html"/>
<link rel="stylesheet" href="/webjars/summernote/0.8.9/dist/summernote.css" />
<title>Sign Up</title>
<style>
.loader {
/* 창에대해서 절대 좌표  */
	z-index:1;
	position:absolute;
	top:26.5%;
	left:50%; 
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 4px solid blue;
    border-left: 4px solid red;
    border-right: 4px solid green;
    border-bottom: 4px solid pink;
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>
</head>
<body>
<div id="loading" class="col-sm-1"></div>
	<#include "/include/nav.html"/>
	<div class="container">
		<form action="/member/signup" method="post" class="form form-horizontal">
			<@spring.bind "member.id"/>
			<div class="form-group">
				<label for="" class="control-label col-sm-2">I D</label>
				<div class="col-sm-6">
					<input type="text" id="${spring.status.expression}"
						   name="${spring.status.expression}" class="form-control" 
						   value="${spring.status.value?default('')}"/> 
					<span class="error">${spring.status.errorMessages[0]?default('')}</span>					
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-primary btn-block"
						onclick="dupCheck()"> 중복확인				
					</button>
				</div>
			</div>
			
			<@spring.bind "member.password"/>
			<div class="form-group">
				<label for="" class="control-label col-sm-2">Password</label>
				<div class="col-sm-4">
					<input type="password"
						   name="${spring.status.expression}" class="form-control" 
						   value="${spring.status.value?default('')}"/> 
					<span class="error">${spring.status.errorMessage?default('')}</span>					
				</div>
			<@spring.bind "member.passwordConfirm"/>
				<div class="col-sm-4">
					<input type="password"
						   name="${spring.status.expression}" class="form-control" 
						   value="${spring.status.value?default('')}"
						   placeholder="패스워드 확인"/>
					<span class="error">${spring.status.errorMessage?default('')}</span>
				</div>
			</div>
			
			<@spring.bind "member.name"/>
			<div class="form-group">
				<label for="" class="control-label col-sm-2">Name</label>
					<div class="col-sm-8">
						<input type="text" name="${spring.status.expression}"
							   class="form-control"
							   value="${spring.status.value?default('')}" />
						<span class="error">${spring.status.errorMessage?default('')}</span>
					</div>
			</div>
			
			<@spring.bind "member.email"/>
			<div class="form-group">
				<label for="" class="control-label col-sm-2">Email</label>
					<div class="col-sm-3">
						<input type="text" id="${spring.status.expression}" name="${spring.status.expression}"
							   class="form-control"
							   value="${spring.status.value?default('')}" />
						<span id="email-error" class="error">${spring.status.errorMessage?default('')}</span>
					</div>
					
					<div class="col-sm-2">
						<button type="button" class="btn btn-default btn-block"
								onclick="emailCertify(this);">인증메일 발송</button> <!-- this를 객체화 -->
					</div>
					
					<@spring.bind "member.emailCode"/>
					<div class="col-sm-3">
						<input type="text" name="${spring.status.expression}"
							   class="form-control"
							   value="${spring.status.value?default('')}" 
							   placeholder="인증코드 입력"/>
						<span class="error">${spring.status.errorMessage?default('')}</span>
					</div>					
				</div>
				<div class="form-group">
					<@spring.bind "member.gender"/>
					<label class="control-label col-sm-2">Gender</label>
					<div class="col-sm-8">
						<label for="" class="radio-inline">
							<input type="radio" name="${spring.status.expression}" 
								   value="m"/>Male
						</label>
						<label for="" class="radio-inline">
							<input type="radio" name="${spring.status.expression}" 
								   value="f"/>Female
						</label>
						<span class="error">${spring.status.errorMessage?default('')}</span>
					</div>
				</div>
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<button type="submit" class="btn btn-default btn-block">submit</button>
				</div>
			</div>
		</form>
	</div>
<#include "/include/footer.html"/>

<script>
	function dupCheck(){
		$.ajax({
			url:"/member/dupcheck",
			type:"post",
			data:{id:$("#id").val()},
			success:function(data){
				if(data == 'y'){
					alert("존재하는 아이디입니다.");
				}else{
					alert("사용가능한 아이디입니다.");
				}
			}
		});
	}
	
	function emailCertify(btn){
		//버튼 비활성화
		$(btn).attr("disabled","disabled"); //$(btn) : 자바스크립트 객체를 제이쿼리로
		//로딩바 시작
		$("#loading").addClass("loader");
		$.ajax({
			url:"/member/emailcertify",
			type:"post",
			data:{email:$("#email").val()},
			success:function(data){
				//버튼 활성화
				$(btn).removeAttr("disabled");
				//로딩바 종료
				$("#loading").removeClass('loader');
				if(data == 'null'){
					$("#email-error").text("이메일을 입력해주세요.");
				}else if(data == 'incorrect'){
					$("#email-error").text("이메일 형식이 올바르지 않습니다.");
				}else if(data == 'duplicated'){
					$("#email-error").text("이미 가입되어 있는 이메일 주소입니다.");
				}else if(data == 'error'){
					$("#email-error").text("서버 오류로 인해 이메일 발송을 실패했습니다.");
				}else{		
					$("#email-error").text("");
					alert("인증메일을 발송했습니다.\n코드를 입력해주세요.");
				}
			}			
		});		
	}
</script>
</body>
</html>